In [1]:
from strappy.pipelines.base_pipeline import (
    create_transformer_pipeline,
    name_tracker
)
import pandas as pd
import numpy as np

In [2]:
N = 100
np.random.seed(42)
df = pd.DataFrame({
    'x' : [1.2,3,np.nan,7,-3,np.nan,1.2383,0.32,-50,300] * int(N/10),
    'y' : np.random.choice(
        ['a'] + [np.nan] + list("bcdefghi"),
        size=N, p=[0.3,0.2,0.1,0.1,0.1,0.05,0.05,0.05,0.025,0.025]),
    'z': np.random.choice(
        ['test text','more test text','python is cool','enjoy your weekend',
        'that movie was ok','go to the moon', 'the movie was cool','more money more problems',
        "let's go", 'see you soon'],
        size=N, p=[0.3,0.2,0.1,0.1,0.1,0.05,0.05,0.05,0.025,0.025])
})

df.head()

     x    y                         z
0  1.2  nan                 test text
1  3.0    h        enjoy your weekend
2  NaN    d            more test text
3  7.0    b            python is cool
4 -3.0    a  more money more problems

In [3]:
p = create_transformer_pipeline(text_cols=['z'])

In [4]:
p = p.fit(df)

C:\Users\grego\Anaconda3\lib\site-packages\feature_engine\encoding\rare_label.py:160: UserWarning: The number of unique categories for variable y is less than that indicated in n_categories. Thus, all categories will be considered frequent
  "considered frequent".format(var)

In [5]:
pd.DataFrame(p.fit_transform(df), columns = name_tracker(p,df).final_cols)

C:\Users\grego\Anaconda3\lib\site-packages\feature_engine\encoding\rare_label.py:160: UserWarning: The number of unique categories for variable y is less than that indicated in n_categories. Thus, all categories will be considered frequent
  "considered frequent".format(var)

final_cols,x,x_na,y_nan,y_h,y_d,y_b,y_a,y_f,y_c,y_e,...,z_soon,z_test,z_text,z_that,z_the,z_to,z_was,z_weekend,z_you,z_your
0,1.2000,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.707107,0.707107,0.000000,0.000000,0.0,0.000000,0.00000,0.0,0.00000
1,3.0000,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.57735,0.0,0.57735
2,0.0000,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.501278,0.501278,0.000000,0.000000,0.0,0.000000,0.00000,0.0,0.00000
3,7.0000,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.00000,0.0,0.00000
4,-3.0000,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.00000,0.0,0.00000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,0.0000,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.501278,0.501278,0.000000,0.000000,0.0,0.000000,0.00000,0.0,0.00000
96,1.2383,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.000000,0.000000,0.554237,0.000000,0.0,0.439115,0.00000,0.0,0.00000
97,0.3200,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.000000,0.000000,0.000000,0.510046,0.0,0.510046,0.00000,0.0,0.00000
98,-50.0000,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.000000,0.000000,0.000000,0.510046,0.0,0.510046,0.00000,0.0,0.00000
99,300.0000,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.000000,0.000000,0.554237,0.000000,0.0,0.439115,0.00000,0.0,0.00000

In [6]:
name_tracker(p,df)

   final_cols cols_in
0           x       x
1        x_na       x
2       y_nan       y
3         y_h       y
4         y_d       y
5         y_b       y
6         y_a       y
7         y_f       y
8         y_c       y
9         y_e       y
10        y_g       y
11        y_i       y